*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
html,body{
    height:100%;
    width: 100%;
}

 /* h1{ 
    font-size: 300px;
    font-weight: 900;
    -webkit-text-stroke: 4px black;
    color :transparent;
} */
/* p::selection{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
} */
/* video 16 */
  /* body{ 
    height: 1000%;
    width: 100%;
 
}   */
/* 
body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background:linear-gradient(red,blue,black);
    border-radius: 20px;
} */
/* 
body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(gray,black,rgb(227, 209, 209));
    border-radius: 30px;
} */



/* video 17 css*/
/* .loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px dotted transparent;
    border-top-color:green;
    animation:rotate 2s infinite;
}
@keyframes rotate{
    100%{
        rotate: 360deg;
    }
} */

/* 
.loader{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: aqua;
    margin: 30px;
    border-top-right-radius: 50%;
    animation: rotate 3s infinite;
}
@keyframes rotate{
    100%{
        rotate: 360deg;

    }
} */

/* vidoe 18 underline animation */

/* 
body{padding: 10px;
    
}

h1{
    font-weight: 900;
    position: relative;
}
h1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: black;
    transition: all ease 1s;
}
h1:hover::after{
    width: 210px;
  

start 20 video
} */
/* div{
   height: 200px;
   width: 300px;
   background-color: #333;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-image: url(palestine.png);
   background-repeat: no-repeat;
   object-fit: cover;
   background-size: cover;
}
.bottom{
    height: -40%;
    width: 100%;
    background:linear-gradient(transparent,black);
    position: absolute;
    opacity: 0;
    transition: all ease 0.5s;

}
.bottom:hover{
    opacity: 1;


} */





/* .box{
    height: 250px;
    width:300px;
    background-color: red;
    position: relative;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
}
.child{
    height: 100px;
    width: 200px;
    background-color: blueviolet;
    margin-left: 30px;
    display: inline-block;


} */





.pic img{
    margin: 80px;
    height: 300px;
    width: 400px;
    object-fit: cover;
    -webkit-mask-image: url(love.png);
    -webkit-mask-size: contain;

}